---
title: Create Account
---

<main>
  <div class="logo">
    <img src="images/beacon-logo.svg" alt="Beacon logo" />
  </div>
  <h1>Create Account</h1>
  <p class="doc">
	Time to create an account.
  </p>
</main>
