---
title: Welcome to Beacon
---

<main class="welcome">
  <div class="logo">
    <img src="images/beacon-logo.svg" alt="Beacon logo" />
  </div>
  <h1>Beacon</h1>
  <p class="getStarted">
	Welcome to the Beacon social app.
  </p>
  <p class="getStarted">
	<a href="createAccount.html">Get Started</a>
  </p>
</main>
